/*Estilos Generales*/
body {
    font-family: sans-serif;
    text-align: center;
}

/*Contenido*/

.layout, .layout2, .layout3, .layout4 {
    width: 1200px;
    min-height: 400px;
    margin: 0px;

    /*CSS GRID*/
    display: grid;
    grid-template-columns: repeat(4, calc(25% - 10px));
    grid-template-rows: repeat(4, 1fr);

    /*Espaciado*/
    grid-gap: 10px;
    padding: 10px;
    border: 3px solid orangered;    
}

.layout2 {
    margin-top: 10px;
    height: 1200px;
    height: 400px;

    grid-template-columns: repeat(2, calc(25% - 10px)) calc(15% - 10px) calc(35% - 10px);
    grid-template-rows: 50% 10% 45%;
}

.layout3 {
    margin-top: 10px;
    height: 1200px;
    height: 400px;

    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
}

.layout4 {
    margin-top: 10px;

    grid-template-columns: repeat(2, 1fr); 
}

.layout .caja, .layout2 .caja, 
.layout3 .caja, .layout4 .caja {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 20px;
    border: 4px solid #222;
    /*margin: 10px;*/
    background-color: grey;
}

.layout .red, .layout2 .red, 
.layout3 .red, .layout4 .red {
    background-color: red;
    grid-column: 1 / 3;
}

.layout .green, .layout2 .green, 
.layout3 .green, .layout4 .green {
    background-color: green;
}

.layout .blue, .layout2 .blue, 
.layout3 .blue, .layout4 .blue {
    background-color: blue;
}

.layout .pink, .layout2 .pink,
.layout3 .pink, .layout4 .pink {
    background-color: pink;
    grid-column-start: 1;
    grid-column-end: 3;
}


.layout .orange, .layout2 .orangek,
.layout3 .orange, .layout4 .orange {
    background-color: orange;
}

.layout .lightblue, .layout2 .lightblue,
.layout3 .lightblue, .layout4 .lightblue {
    background-color: lightblue;
}