/*Estilos Generales*/
body {
    font-family: sans-serif;
    text-align: center;
}

/*Contenido*/

.layout {
    width: 1200px;
    margin: 0px;

    /*CSS GRID*/
    display: grid;
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);

    /*Espaciado*/
    grid-gap: 10px;
    padding: 10px;
    border: 3px solid orangered;    
}

.layout .caja {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 20px;
    border: 4px solid #222;
    /*margin: 10px;*/
    background-color: grey;
}

.layout .red {
    background-color: red;
}

.layout .green {
    background-color: green;
}

.layout .blue {
    background-color: blue;
}

.layout .pink {
    background-color: pink;
}
