
/*-------------------- SOMBRAS -------------*/
header > h1{
    text-shadow: 0px 0px 5px red;  /*eje "x" eje "y" difuminado color*/
}

.caja{
    box-shadow: 5px 5px 5px blue;
}

aside > article > #Caja2{
    box-shadow: 5px 5px 10px blue inset;
}

.caja > #caja1{
    text-shadow: 10px 0px 5px red;
}

.caja > #caja2{
    text-shadow: -10px 0px 5px red;
}

.caja > #caja3{
    text-shadow: 0px 10px 5px red;
}

.caja > #caja4{
    text-shadow: 0px -10px 5px red;
}

.caja > #caja5{
    text-shadow: 10px 10px 5px red;
}

.caja > #caja6{
    text-shadow: -10px -10px 5px red;
}

.caja > #caja7{
    text-shadow: 10px -10px 5px red;
}

.caja > #caja8{
    text-shadow: -10px 10px 5px red;
}

/*---------- BORDES ---------------*/
.caja2{
    background-color: #BDB76B;
    width: 135px;
    height: 135px;
    margin: 5px;
    float: left;
    color: white;
    text-align: center;
    line-height: 135px;
    margin-top: 20px;
    margin-left: 20px;
}

#Caja1{
    border-radius: 50px;
}

#Caja22{
    border-radius: /*Sup. Izq*/50px /*Sup. Dcha*/10px /*Inferior. Dcha*/4px /*Inferior. Izq.*/61px;  
}

#Caja3{
    border-radius: 50%;
}